

body {

}

a {
	text-decoration: none;
	color:black;
}

#page {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}


/* body::-webkit-scrollbar {  
   This is the magic bit 
   display: none;  */

.sam {
	margin-top:220px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:70px;
	white-space:pre;
}

/* logo's */

#instalogo {
	height:45px;
	width:auto;
	padding:10px;
	border-bottom-style: none;
	margin-bottom:2px;
}

#instalogo:hover {
	margin-bottom:-1px;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:black;
}

	
#ytlogo {
	width:auto;
	height:40px;
	padding:10px;
	border-bottom-style: none;
	margin-bottom:3px;
}
#ytlogo:hover {
	margin-bottom:0px;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:black;
}
#stlogo {
	width:auto;
	height:45px;
	padding:10px;
	border-bottom-style: none;
	margin-bottom:2px;
}
#stlogo:hover {
	margin-bottom:-1px;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:black;
}



ul {
    list-style:none;
    margin:0;
	margin-top:100px;
    padding:0;
    text-align:center;
	list-style-type:none;
	
}
ul li {
    display:inline;
}

ul a {
	display:inline-block;
    padding:10px;
}

#container {
    background:black;
    height: 3px;
    width: 80px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
}

#easter {

}

#klj {
	margin-top:400px;
}

.sites {
	margin-top:80px;
	width:400px;
	height:auto;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	-webkit-transition: -webkit-filter 0.5s, box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: filter 0.5s,  box-shadow 0.5s;
}

.sites:hover   {
   -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); 
    box-shadow: 10px 15px 15px #d9d9d9;	
}

.sitetext {
	font-family: 'Montserrat', sans-serif;
}

/* footer */

.footer {
  font-family: 'Quicksand', sans-serif;
  font-size:10px;
  text-align:center;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top:100px;
  margin-bottom:30px;
  position:relative;

  
}

#wout {
	  color:black;
	  font-size:9px;
}

#snackbar {
	font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* select color */


/*** Works on common browsers ***/
::selection {
    background-color:black;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color:black;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color:black;
    color: #fff;
}

::-ms-selection {
    background-color:black;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color:black;
    color: #fff;
}

@media screen and (max-width: 1370px) {
.sam {
	margin-top:150px;
}
}

/* mobile */

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	#klj {
	margin-top:1000px;
}
#page {
margin-top:600px;
}
}