

body {
	background-color:black;
	    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:600%;
	margin-top:206px;
	color:white;
    position: relative;
}

#loader {
	margin-left:auto;
	margin-right:auto;
	margin-top:140px;
	border: 14px solid #0d0d0d;
  border-radius: 50%;
  border-top: 14px solid #ffffff;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  
  50% { -webkit-transform: rotate(180deg);}
  
   100% { -webkit-transform: rotate(1080deg);}	
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  
  50% { transform: rotate(180deg);}
  
   100% { transform: rotate(1080deg);}		  
		  
}

@media screen and (max-width: 1370px) {
	body {
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px)
{
#name {
	font-family: 'Quicksand', sans-serif;
	font-size:900%;
	margin-top:356px;
}

#loader {
	margin-left:auto;
	margin-right:auto;
	margin-top:400px;
	border: 14px solid #0d0d0d;
  border-radius: 50%;
  border-top: 14px solid #ffffff;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}




