body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


a:active {
color:black;
}

#main {
  margin: 0 auto;
  width: 900px;
}

#title_name {
  width: 210px;
  cursor: pointer;
  font-size: 40px;
  margin: 5px 0 0 0;
}

#header_border {
background-color: white;
border-bottom-style: solid;
border-width: 2px;
width: 100%;
height: 90px;
position: fixed;
}

#header {
color:black;
width: 900px;
height: 90px;
position: fixed;
}

#nav {
margin: 10px 0;
padding: 0;
}

#nav li {
  padding: 0 4px 0 4px;
  display: inline;
}

#nav li a {
  color:black;
  font-size: 18px;
}

#Content {
z-index:-1;
position: absolute;
width: 900px;
margin: 110px 0 50px 0;

}

.Heading_1 {
  margin: 0 0 5px 0;
  font-size: 30px;
}

.Heading_2 {
  cursor: pointer;
  margin: 0;
  font-size: 20px;
}

.Heading_2 a {
color: #000000;
}

.Date {
  margin: 0;
  font-size: 15px;
}

.Project_img {
  margin: 10px 0 25px;
  width: 400px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.left {
  float:left;
}

.right {
  float:right;
}

/* mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
{
  body {
    font-family: 'Roboto Condensed', sans-serif;
  }
  #main {
    width:90%;
  }

  #header {
    width:90%;
  }

  #Content {
    width:100%;
  }

  .Project_img {
    width: 80%;
  }
  .right {
    float:left;
  }
}
