body {
                      background-color:white;
					  margin:0 0 0 0;
                      }
                      ul li a {
                      font-family:arial;
                      font-size:200%;
                      color:#c2dac6;
					  text-decoration:none;
                      }   
					  ul li a:hover{
                      color:white;
					  }
                      ul {
                      list-style-type:none;
                      margin-top:0;
                      padding:0;
					  text-align:center;
					  background-color:#66A46F;
                      }
                      li {
                      display:inline-block;
                      padding: 5px;
					  margin-right:40px;
                      }
					  #center {
					  text-align:center;
					  }
					  img {
					  height:200px;
					  margin-top:10px;
					  text-align:center;
					  }
					  #title {
					  color:#66A46F;
					  font-family:arial;
                      font-size:300%;
					  margin-left:60px;
					  margin-top:100px;
					  }
					  ::-moz-selection { 
                      color:white;
                      background:#c2dac6;
                      }
                      ::selection {
                      color:white;
                      background:#c2dac6;
                      }
					  #text {
					  font-family:arial;
					  font-size:50px;
					  color:#535353;
					  text-align:center;
					  margin-top:200px;
					  }
					  #animation {
					  text-align:center;
					  }
					  #version {
					  margin-left:80px;
					  font-family:arial;
					  font-size:125%;
					  color:#535353;
					  }
					  #right {
					  text-align:right;
					  }
					  ::-webkit-scrollbar { 
                      display: none; 
                      }
					  .foot {
					  font-family:arial;
					  font-size:125%;
					  color:#fff;
					  background-color:#a0c5a6;
					  padding-top:5px;
					  padding-bottom:5px;
					  margin-bottom:-0px;
					  }
					  #link {
					  font-family:arial;
                      font-size:125%;
                      color:#66A46F;
					  }
					  #link:hover {
					  font-family:arial;
                      font-size:125%;
                      color:#c2dac6;
					  }
					  #ttitle {
					  color:#66A46F;
					  font-family:arial;
                      font-size:200%;
					  margin-left:60px;
					  }
					  #gif {
					  margin-left:60px;
					  }
					  #textdiv {
						  width:680px;
					  }
					  @media only screen and (max-width: 1000px) {
						   ul {
                      list-style-type:none;
                      margin-top:0;
                      padding:0;
					  text-align:center;
					  background-color:#66A46F;
                      }
                      li {
                      padding: 5px;
					  margin-right:30px;
                      }
					  ul li a {
                      font-family:arial;
                      font-size:300%;
                      color:#c2dac6;
                      }      
					  }