

body {
font-family: 'Montserrat', sans-serif;
margin: 0;
height: 100%;
overflow: hidden
}

a {
	text-decoration: none;
	color:black;
}

#page {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#title {
	margin-top:100px;
	text-align:center;
	font-size:50px;
	white-space:pre;
}

/*Colored line*/

#container {
    background:black;
    height: 3px;
    width: 80px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
}


/* logo's */

.logo {
	width:auto;
	height:35px;
	margin-bottom:3px;
	padding-bottom: 10px;
	border-bottom-style: none;
}

.logo:hover {
	margin-bottom:0px;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:black;
}

#ytlogo {
	height:33px;
}

ul {
	margin-top:60px;
  padding:0;
}
ul li {
    display:inline;
}

ul a {
	display:inline-block;
    padding:20px;
}

/* Projects*/
#projects {
	padding: 10px;
	width:200px;
	display: block;
	margin: 80px auto 0 auto;
	font-size:18px;
	color:black;
	border-style:solid;
	border-width:3px;
	border-style: none;
text-decoration: none;
}

#projects:hover {
margin-top: 77px;
border-style:solid;
}

/* select color */

/*** Works on common browsers ***/
::selection {
    background-color:black;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color:black;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color:black;
    color: #fff;
}

::-ms-selection {
    background-color:black;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color:black;
    color: #fff;
}
/* mobile */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
#page {
margin-top:400px;
}

#title {
	font-size:80px;
}

.logo {
	height:80px;
}

#ytlogo {
	height:73px;
}

ul a {
    padding:30px;
}
}
